.auth-main {
    display: flex;
    flex-direction: column;
    color: rgba(238, 207, 58, 1);
    height: 100%;
}

.auth-chart-area {
    display: flex;
    align-self: center;
    height: 43%;
    width: 80%;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 57%;
}

.button-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(238, 207, 58, 1);
    width: 50%;
    height: 12%;
    font-size: 24px;
    font-weight: bold;
    color: rgba(28, 31, 39, 1);
    border-radius: 15vmin;
    margin-bottom: 2%;
}

.authpage-forms {
    height: 50%;
}

.button-bar > * {
    cursor: pointer;
}


.button-bar > *:hover {
    color: white;
}

.guest-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.guest-message {
    width: 60%;
}