.transaction-card-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 5% 4px 5%;
    width: 60%;
    color: rgba(28, 31, 39, 1);
    border: solid rgba(28, 31, 39, 1);
    border-radius: 12px;
    margin: 4px 0 4px 0;
    cursor: pointer;
}

.transaction-detail-left {
    text-align: left;
}

.transaction-detail-right {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 95%;
}

.transaction-date {
    justify-self: flex-end;
}

.transaction-card-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4px 0px 4px 0px;
    width: 50%;
    color: rgba(238, 207, 58, 1);
    border: solid rgba(28, 31, 39, 1);
    border-radius: 12px;
    margin: 4px 0 4px 0;
    cursor: pointer;
}

hr {
    color: rgba(28, 31, 39, 1);
    border-color: rgba(28, 31, 39, 1);
    transform: rotate(90);
}

#detail-view {
    background-color: rgba(238, 207, 58, 1);
    color: rgba(28, 31, 39, 1);
    font-weight: bolder;
}

.transaction-card > * {
    width: 90%;
}

.transaction-card-preview:hover {
    border: solid rgba(238, 207, 58, 1);
}

.ticker-date-ctr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 12px;
}

.ticker-card-text {
    font-size: 24px;
    align-self: center;
}

.ticker-card-price {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.transaction-date{
    font-size: 10px;
}

.ticker-card-price-preview {
    justify-self: center;
}

.ticker-card-text-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}