.transaction-form-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.transaction-form-ctr > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 65%;
  color: rgba(238, 207, 58, 1);
}

#buying-power {
  font-size: 18px;
  align-self: center;
}

.ticker-ctr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.amount-ctr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.options-ctr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.comment-ctr {
  width: 90%;
  height: 50px;
}

.ticker-ctr > * {
  width: 40%;
}
.amount-ctr > * {
  width: 40%;
}
.options-ctr > * {
  width: 40%;
}

.comment-ctr > * {
  width: 100%;
  height: 50px;
}

.transact-button {
    color: black;
}


.transaction-selector, .ticker-selector, .public-selector  {
  background: rgba(28, 31, 39, 1);
  color: rgba(238, 207, 58, 1);
  border: solid rgba(238, 207, 58, 1) .1px;
}


.enter-dollars-input, .enter-comment-input {
  background: rgba(28, 31, 39, 1);
  color: rgba(238, 207, 58, 1);
  border: solid rgba(238, 207, 58, 1) .1px;
}