nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background: rgba(238, 207, 58, 1);
    height: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.welcome {
    font-size: 28px;
    font-weight: 500;
}

.logout {
    font-weight: 500;
}

nav > * {
    width: 33%;
}

.website-title {
    font-size: 28px;
    font-weight: 500;
}