.auth-chart-title-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(238, 207, 58, 1);
}

.auth-chart-title-info > * {
  text-align: right;
  margin: 0.1vh;
  align-self: center;
}

.positive-percent {
  color: green;
}

.negative-percent {
  color: red;
}

.custom-tooltip {
    color: rgba(238, 207, 58, 1);
}
