.chart-title-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(238, 207, 58, 1);
}

.chart-title-info > * {
    text-align: right;
  margin: 0.1vh;
}

.positive-percent {
  color: green;
}

.negative-percent {
  color: red;
}

.custom-tooltip {
    color: rgba(238, 207, 58, 1);
}

.toggle-time-range {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  border: solid 1px rgba(238, 207, 58, 1);
  border-radius: 5px;
}

.toggle-time-range > * {
  text-align: center;
  border: none;
}

.toggle-time-range:hover {
  cursor: pointer;
}

.toggle-time-range > *:hover {
  cursor: pointer;
  background: rgba(238, 207, 58, 1);
  color: black;
}

#select {
  background: rgba(238, 207, 58, 1);
  color: black;
}